@import './base.css';
.container {
    width: 45rem;
    margin: 0 auto;
    /* background-color: rgb(211, 40, 40); */
}
.logo {
    display: flex;
    height:10rem;
    justify-content: center;
    border-bottom: 1px solid #d9dadc;
}
.logo--icon {
    line-height:10rem;
    font-size:5rem;
    margin-right: 1rem;
}
.logo--name {
    line-height:10rem;
    font-size:3rem;
    font-weight: 700;
}
.login__social {
    width: 100%;
    text-align: center;
    margin: 3.5rem 0;
}
.login__social--heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.login__list {

}
.login__item {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 1rem 3rem;
    border:2px solid #616467;
    border-radius: 5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.login__item:nth-child(1) {
    background-color: #3a61b3;
}
.login__item:nth-child(1):hover {
    background-color: #3a60b3ad;
}
.login__item:nth-child(1) .login__item-icon i ,
.login__item:nth-child(1) .login__item--name {
    color: var(--text-color);
}
.login__item:nth-child(2) {
    background-color: #000;
}
.login__item:nth-child(2):hover {
    background-color: #333;
}
.login__item:nth-child(3):hover,
.login__item:nth-child(4):hover {
    background-color: #616467;
} 

.login__item:nth-child(2) .login__item-icon i ,
.login__item:nth-child(2) .login__item--name {
    color: var(--text-color);
}
.login__item:nth-child(3) .login__item-icon i ,
.login__item:nth-child(3) .login__item--name,
.login__item:nth-child(4) .login__item-icon i ,
.login__item:nth-child(4) .login__item--name {
    color: #616467;
}
.login__item:nth-child(3):hover .login__item-icon i ,
.login__item:nth-child(3):hover .login__item--name,
.login__item:nth-child(4):hover .login__item--name {
    color: #fff;
}
.login__item--link {
    display: flex;
}
.login__item-icon > i {
    font-size: 2rem;
    margin-right: 2rem;
}
.login__item--name {
    font-size: 2rem;    
}
.login__input {

}
.login__heading {

}
.login__input-user {

}
.login__input-pw {

}
.login__forgot--pw {

}
.login__confirm {

}
.login__checked {

}
.login__confirm--login {

}